{% load static %}
{% include 'extensions/header.html' %}
    <main>

<div class="section container">
<h1 class="section-title">Recent articles</h1>
<ul role="list" class="articles__list flow">
  {% for post in posts  %}
  <li>
         <article class="snippet">
  <img src="https://res.cloudinary.com/dsaddflhf/image/upload/v1/{{post.image_exp}}" alt="a man on his computer" class="snippet__image">
  <h3 class="snippet__title"><a href="post/{{post.title}}">{{ post.title }}</a></h3>
  <p class="snippet__meta">by <span>{{ post.author }}</span> on <span>{{ post.time_written }}</span></p>
  <div class="snippet__body">{{post.content|truncatewords:20|safe}}</div>
  <a href="post/{{post.title}}" class="btn btn--primary">Continue Reading</a>
</article>
        </li>
  {% endfor %}
</ul>
  </div>
    </main>

    {% include 'extensions/footer.html' %}
