{% load static %}
{% include 'extensions/header.html' %}
    <main>
      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Welcome to my blog!</h1>
        <p>I use this platform to document my adventures in Backend Development, including in-depth insights into my API projects and related topics.</p>
        <p>You'll find information on how I've tackled challenges, valuable resources, and more.</p>
        <p>Explore some of my featured projects below, or visit the blog page to stay updated on my latest endeavors in the world of APIs and beyond.</p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
          <a href="blog" class="btn btn--neutral">Most recent Projects</a>
        </div>
      </div>
      <div>
        <img src="{% static '/assets/blog/myImage.png'%}" alt=''  class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">These sample articles offer a glimpse into the world of my projects and backend development. They illustrate the kind of content you can expect to find on this site, covering various aspects of my work, challenges I've encountered, and insights into the realm of backend development..</p>
    <ul role="list" class="articles__list flow">
        {% for post in posts  %}
        {% if post.is_featured == True %}
        <li>
         <article class="snippet">
          <img src="https://res.cloudinary.com/dsaddflhf/image/upload/v1/{{post.image_exp}}" alt="This is a test" class="snippet__image">
          <h3 class="snippet__title"><a href="post/{{post.title}}">{{ post.title }}</a></h3>
          <p class="snippet__meta"> <span>{{ post.time_written }}</span></p>
             <div class="snippet__body">{{post.content|truncatewords:20|safe}}</div>
             <a href="post/{{post.title}}" class="btn btn--primary">Continue Reading</a>
         </article>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
  </div>
</section> 
    </main>
{% include 'extensions/footer.html' %}