{% load static %}

{% include 'extensions/header.html' %}
<main>

<article class="main-article">
<div class="container container--narrow flow">

    <h1 class="article-title">
      {{post.title}}
    </h1>
    <figure class="main-article__figure">
      <img src="https://res.cloudinary.com/dsaddflhf/image/upload/v1/{{post.image_exp}}" alt="This is a test">
      <figcaption style="z-index: -1; position:relative;">
          {{ post.title }}
      </figcaption>
    </figure>
    <style>
      .content{
        margin-top: 12px;
      }
      .content img{
        width: 70%;
        height: auto;
        margin: 0 auto;
      }
    </style>
    <div class="content">
      {{ post.content | safe }}
    </div>
    

</div>
</article>
    </main>

    {% include 'extensions/footer.html' %}
