{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
    name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700..900&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'new_.css'%}">

    <title>{{ title }}</title>
    <!-- <link rel="shortcut icon" href="{% static 'assets/blog/email.png' %}" type="image/x-icon"> -->
  </head>
  <body>
    <header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <style>
        .h1 a{
          color: #fff;
          text-decoration: none;
        }
      </style>
      <div>
        <h1 style="color:white"  class="h1"><a href="/">Mayowa</a></h1>
      </div>
      <nav>

        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="blog">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>